Options -MultiViews
RewriteEngine On

RewriteBase /practicaPHPUnit/app/public

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

#RewriteRule ^([^/]+)(/)([^/]+)(/)(.*) index.php?url=$1&$3&$5 [QSA,L]
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
